    @Override
    public Colecao{{entityName}} getColecao{{entityName}}() {
        return null;
    }

    @Override
    public void setColecao{{entityName}}({{entityName}} {{entityName[:1].lower() + entityName[1:]}}) {
        
    }