    private {{entityName}} {{entityName[:1].lower() + entityName[1:]}};
    
    public Colecao{{entityName}} getColecao{{entityName}}() {
        return colecao{{entityName}};
    }

    public void setColecao{{entityName}}({{entityName}} {{entityName[:1].lower() + entityName[1:]}}){
        this.{{entityName[:1].lower() + entityName[1:]}} = {{entityName[:1].lower() + entityName[1:]}};
    }

